@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
  /* background-color: green; */
  background-image: url('https://thumbs.gfycat.com/ImaginativeNaiveIrishdraughthorse-size_restricted.gif');
  /* background-image: url('https://thumbs.gfycat.com/HarmoniousImpracticalBrant-max-1mb.gif'); */
  background-size: cover;
}

.cuadro-menu{
  flex: 1 1 auto;
  width: 100%;
  height: 150px;
  /* background-image: linear-gradient(to top, #1E1A2C, #340161,  #630481, #C702BD, #FF39B3); */
  display:flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-family: 'Permanent Marker';
  text-align:center;
  font-size: 8em;
  Color:#FF39B3;
  margin-top: 5%;
  margin-bottom: 0;
  text-shadow: 4px 2px 0px #FFffff;

}

.cuadro-menu ul{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding:0;
  font-size: 3em;
  list-style: none;
  color:white;
}
.cuadro-menu li{
  margin:24px;
}
a{
  text-decoration: none;
  color: white;
}
.imagenes-cuadros{
  width: 100%;
  height: 150px;
  display:flex;
  flex-direction:row;
  justify-content: center;

}
.cuadro{
  width: 150px;
  height: 150px;
  margin:24px;


}
.blanco{
  margin-top:64px;
  background-image: url("./img/coche.png");
  background-size:
  /* background-color: white; */

}
.pink{

  background-image: url("./img/coche.png");
  /* background-color: pink; */
}
.blue{
  margin-top:64px;
  background-image: url("./img/coche.png");
  /* background-color: blue; */
}
